extends layout

block append title
	meta(name="description", content="Michael Marek, software engineering student | University of Waterloo")

block content
	div#content
		div#name
			img.img-responsive(border="0" src="/assets/images/name.gif")
		div.writer
			a(href="/annotation" target="_blank") This is food for thought. You do the dishes.

block append scripts
	script.
		$(function() {
			var $img = $("#name img");
			var $quote = $(".writer a");

			$img.animate({opacity:1}, 1000);

			setTimeout(function(){
				$quote.css("display", "block");
				$quote.animate({opacity:1}, 2000); 
			}, 15000);

			// http://support.cargocollective.com/customer/portal/questions/1349490-animated-gif-for-header-img-force-gif-to-restart-on-refresh
			$img.hide().attr("src", $("#name img").attr("src") + "?_=" + Date.now());	// replace src with timestamped url to avoid cache					
			$img.one("load", function() { // hide the image until the new one has loaded. Otherwise it'll look choppy when the new one loads.
				$(this).show();
			}).each(function() {		
				if (this.complete) { // also fire the function if the image is loaded before the event is bound.
					$(this).load();
				}
			});
		});
		
