extends ../layout

block title
	title About | Michael Marek

block content
	include about.html
	
block append scripts	
	script.
		// executed on page refresh
		$("#tab_about").closest("li").addClass("active");
		window.history.pushState({url:'about'}, "", "/about");