extends ../layout

block title
	title Contact | Michael Marek

block append head
	link(href="/static/css/form.css", rel="stylesheet")
	
block content
	include contact.html

block append scripts
	script(type="text/javascript", src="/static/js/form.js")
	script.
		// executed on page refresh
		$("#tab4").closest("li").addClass("active"); 
		window.history.pushState({url:'contact'}, "", "/contact");