extends ../layout

block title
	title Courses | MM
	
block content
	include courses.html
	
block append scripts	
	script.
		// executed on page refresh
		$("#tab_courses").closest("li").addClass("active");