extends ../layout

block title
	title Projects | MM
	
block content
	include projects.html
	
block append scripts
	script.
		$(".zoomable").on("click", function(event) {
			$('#imagepreview').attr('src', $(this).attr('src'));
			$('#imagemodal').modal('show');
		});
		$("#tab_projects").closest("li").addClass("active");