extends ../layout

block title
	title Projects | MM
	
block content
	include projects.html
	
block append scripts	
	script(type="text/javascript", src="/static/js/custom/modal.js")
	script.
		// executed on page refresh
		$("#tab_projects").closest("li").addClass("active");