@media screen and (max-width:1106px){		
	.contact-form {
		margin-left:0;
		width:100%;
	}
}
       
.contact-form .alert {
    display: none;
    font-size: 0.75em;
    top: 15em;
    left: 20px;
    right: 20px;
	font-size:13px;
}

.contact-form .alert.alert-success {
     background: #8fe589;
     border-color: #8fe589;
}

.contact-form .alert.alert-danger {
     background: #f2777a;
     border-color: #f2777a;
}

/* form-control */
.form-control {
    background: #eeeeee;
    border-radius: 0;
    border: none;
    box-shadow: none;
    resize: none;
    padding-right: 25px;
    
    -webkit-transition: background-color 0.25s;
       -moz-transition: background-color 0.25s;
         -o-transition: background-color 0.25s;
            transition: background-color 0.25s;
}
    
.form-control:focus {
    background: #fff;
}

.form-control.valid {
    background: #eeeeee;
}

.form-control.valid:focus {
    background-color: #fff;
}

.form-control.error {
    background: #f9bbb8;
}
        
.form-control.error:focus {
    background-color: #f9bbb8;
}

@media screen and (max-width:510px){
	#answer {
		width:65%;
	}
}