doctype html
html
	head
		title Really? | Michael Marek
		link(rel="shortcut icon", type="image/x-icon", href="/assets/images/logo.png")
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
	body
		marquee(style="color:red;") Please upgrade your browser immediately!
		hr
		h1 Hey there! 
		h1 I see you're using an old browser. How's that working out for you? lol
		h1 Simply <strong><a href="http://browsehappy.com">upgrade to something more modern</a></strong>, and you'll be good to go.