.navbar-inverse {
  background-color: $blue;
  border-color: $blue;
  border-radius: 0 !important;
  @include opacity(0.95);
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
	background-color: $blue; 
	color: #ffffff;
}

.navbar-inverse .navbar-nav > li > a {
	font-size:16px;
}

.navbar-inverse .navbar-brand {
	font-size:21px;
}

.navbar-inverse .navbar-nav > li > a,
.navbar-inverse .navbar-brand {
	height:55px;
	color: $light;
	@include transition-duration(200ms);
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus,
.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus, .navbar-inverse .navbar-brand:active {
	color: #ffffff;
	@include transition-duration(200ms);
}

.navbar-inverse .navbar-toggle {
	border-color: $blue;
	background-color: $blue;	
	padding: 10px 10px;
	margin-top:10px;
	margin-bottom:10px;
}

.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
	background-color: $blue;
}

.menuHover {
	@include box-shadow(inset 0 3px 8px rgba(0, 0, 0, 0.125));
}
.menuActive {
	@include box-shadow(inset 0px 0px 7px #3D3D3D);
}

.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
  border-color: #ffffff;
}

#icon_music {
	float: right;

	&:hover {
		cursor: pointer;
	}

	@media screen and (max-width:767px) {
		float: left;
	}

	@media (min-width: 768px) {
		margin-right: -15px;
	}
}

@media (min-width: 768px) {
	.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
		margin-left: -15px;
	}
}

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse
.navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus {
	background-color: $blue;
	color: #ffffff;
}

@media (min-width:768px) { 
	.navbar > .container{
	    text-align: center;
	}

	.navbar-header,.navbar .navbar-nav,.navbar .navbar-nav > li {
	    float: none;
	    display: inline-block;
	}
	
	.collapse.navbar-collapse {
	    float: none;
	    display: inline-block !important;
	    width: auto;
	    clear: none;
		vertical-align: top;
	}
}

.navbar-right {
	margin-left: auto;
}

#footer {
   clear: both;
   text-align: center;
   padding: 40px 0 50px;

   .fa {
   	 margin: 0 5px 0 5px; /* top, right, bottom, left */
     color: #404040;
	 @include transition-duration(200ms);

	 &:hover, &:focus, &:active {
	 	color: $blue;
	 	@include transition-duration(200ms);
	 }
   }

   #copyright {
   		padding-top: 10px;
		color: #777
   }
}
