extends layout

block title
	title About | Michael Marek

block content
	include about.html
	
block append scripts	
	script(type="text/javascript", src="/static/js/custom.js")
	script.
		$("#tab1").closest("li").addClass( "active" );