doctype html
<!--[if lte IE 9]>
script.
	window.location.href="/please_upgrade";
<![endif]-->
html(lang="en")
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		block title
			title Michael Marek
		block head
			link(href="/static/img/logo.png", rel="shortcut icon", type="image/x-icon")
			link(href="https://fonts.googleapis.com/css?family=Permanent+Marker", rel="stylesheet", type="text/css")
			link(href="https://fonts.googleapis.com/css?family=Nunito:300", rel="stylesheet", type="text/css")
			link(href="/static/css/bootstrap.min.css", rel="stylesheet")
			link(href="/static/css/font-awesome.min.css", rel="stylesheet")
			link(href="/static/css/custom/styles.css", rel="stylesheet")
	body
		.custom-wrapper
			include navbar.html
			.container.pad-container
				block content
				hr(style="clear:both")
				include footer.html
		
		block scripts
			script(type="text/javascript", src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js")
			script(type="text/javascript", src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js")
			script(type="text/javascript", src="/static/js/bootstrap.min.js")
			script(async src="https://genius.codes")
			script(type="text/javascript", src="/static/js/custom/main.js")

		script.
			$(".navbar-inverse .navbar-nav > li > a:not(#tab_resume):not(#tab_blog)").click(function(event) { 
				$(".navbar-inverse .navbar-nav > li").removeClass("active");
				$(this).closest("li").addClass("active"); 
			});
		
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

			ga('create', 'UA-62770660-4', 'auto');
			ga('send', 'pageview');