extends layout

block title
	title Projects | Michael Marek
	
block content
	include projects.html
	
block append scripts	
	script(type="text/javascript", src="/static/js/modal.js")
	script.
		// executed on page refresh
		$("#tab3").closest("li").addClass( "active" );
		window.history.pushState({url:'projects'}, "", "/projects");